/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px 10px 0px 10px;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.container {
  margin-top: 15px;
}

.h-center {
  display: inline-block !important;
  text-align: center !important;
}

.center {
  text-align: center;
}

.long-text {
  text-overflow: ellipsis;
  word-break: normal;
}

.cursor-hand,
.hand {
  cursor: pointer;
  cursor: hand;
}

.circle {
  border-radius: 50%;
}

.height-limit {
  height: 850px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.pdf-toolbar-element {
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.pdf-toolbar {
  line-height: 20px;
}

.pdf-toolbar-page-input {
  width: 40px;
  text-align: center;
}

.pdf-toolbar-search-input {
  width: 100px;
}

/*#the-canvas {
  position: absolute;
  left: -180px;
  top: -20px;
  z-index: -5;
}*/

#the-canvas {
  position: absolute;
  left: -20px;
  z-index: -5;
}
