.pdf-toolbar-element {
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.pdf-toolbar {
  line-height: 20px;
}

.pdf-toolbar-page-input {
  width: 40px;
  text-align: center;
}

.pdf-toolbar-search-input {
  width: 100px;
}
