<div class="container height-limit">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <div *ngFor="let explanation of explanations" class="ui list">
          <explanation (onClick)="clicked($event)" [explanation]="explanation"></explanation>
        </div>
      </div>
    </div>
  </div>
</div>
