.entry-block {
  margin-top: 20px;
  height: 95px;
}

label {
  font-weight: bold;
}

.entry-icon-bg {
  background-color: #3914AF;
}

.entry-icon-fg {
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff00;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.flexContainer {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px !important;
}
