<div class="container">
  <div class="ui two column grid">
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Name of the user model">Name</label></div>
      <div class="eight wide column"><input class="four wide column center-text" type="text" [value]="element.name" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Average word rank">Avg. Rank</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.avgRank | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Number of contained documents">#Documents</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.numDocs | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Initial number of tokens">Initial Token Size</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.initalTokenSize | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Number of tokens after pre-processing">Tokens after Pre.-P.</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.tokenSizeAfterPreprocessing | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Number of word tokens">#Tokens</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.numWords | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Number of word types">#Typs</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.numTokens | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Tokens removed from pre-processing">Tokens removed Pre.-P.</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="(element.initalTokenSize - element.tokenSizeAfterPreprocessing) | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Tokens removed from post-processing">Tokens removed Post.-P.</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="(element.tokenSizeAfterPreprocessing - element.numWords) | thousand" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Total removed tokens">Total removed tokens</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="(element.initalTokenSize - element.numWords) | thousand" disabled></div>
    </div>

    <!--div class="row flexContainer">
      <div class="eight wide column"><label title="Average removed tokens">Avg. removed tokens</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.avgRemovedTokens" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Average removed tokens after pre-processing">Avg. rem. tokens after PP</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.avgRemovedTokensAfterPreprocessing" disabled></div>
    </div>
    <div class="row flexContainer">
      <div class="eight wide column"><label title="Average document length in characters">Avg. document length</label></div>
      <div class="eight wide column"><input class="four wide column right-text" type="text" [value]="element.avgDocLength" disabled></div>
    </div-->
  </div>
</div>


<!--
  name: string;
  id: number;
  words: Array<String>;
  numDocs: number;
  numWords: number;
  numTokens: number;
  initalTokenSize: number;
  tokenSizeAfterPreprocessing: number;
  avgRemovedTokens: number;
  avgRemovedTokensAfterPreprocessing: number;
  containingDocs: string;
  avgDocLength: number;
  avgRank: number;
-->
