<!--div>
<i class="quote left icon"></i>
<span class="quote-text">
There are known knowns. These are things we know that we know.<br/>
There are known unknowns. That is to say, there are things that we know we don't know.<br/>
But there are also unknown unknowns. There are things we don't know we don't know.
</span>
<i class="quote right icon"></i><br/>

-- Donald Rumsfeld
</div-->

<div class="container">
  <div class="ui three column grid">
    <div class="row">
      <div *ngIf="allModels && allModels.length > 0" class="four wide column">
        <h1 class="h-center">Experiments:</h1>
        <hr/>
        <experiment-list (onClick)="clicked($event)" [elements]="allModels"></experiment-list>
      </div>
      <div *ngIf="!allModels" class="four wide column">
        <h1 class="h-center">Loading...</h1>
      </div>
      <div *ngIf="allModels && allModels.length === 0" class="four wide column">
        <h1 class="h-center">No Experiments available!</h1>
      </div>

      <div *ngIf="currentModel" class="three wide column">
        <h1 class="h-center">Unknown Words:</h1>
        <hr/>
        <word-list (onClick)="explain($event)" [words]="currentModel"></word-list>
      </div>

      <div *ngIf="currentExplanations && currentExplanations.length > 0" class="nine wide column">
        <h1 class="h-center">Explanations:</h1>
        <hr/>
        <explanation-list [explanations]="currentExplanations"></explanation-list>
      </div>
    </div>
  </div>
</div>
