<div class="container height-limit">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <ul *ngFor="let element of elements | sort">
          <li class="long-text"><a (click)="clicked(element)" class="hand">{{element | document}}</a></li>
        </ul>


        <!-- filter -->
        <div class="ui list">
          <!--user-model-entry (onClick)="clicked($event)" [element]="element">
          </user-model-entry-->
        </div>
      </div>
    </div>
  </div>
</div>
