<div class="container">
  <div class="ui three column grid">
    <div class="row">
      <div *ngIf="allModels && allModels.length > 0" class="four wide column">
        <h1 class="h-center">User Models:</h1>
        <hr/>
        <user-model-list (onClick)="clicked($event)" [elements]="allModels"></user-model-list>
      </div>
      <div *ngIf="!allModels" class="four wide column">
        <h1 class="h-center">Loading...</h1>
      </div>
      <div *ngIf="allModels && allModels.length === 0" class="four wide column">
        <h1 class="h-center">No User Model available!</h1>
      </div>

      <div *ngIf="currentModel" class="five wide column">
        <h1 class="h-center">Details:</h1>
        <hr/>
        <user-model-detail [element]="currentModel"></user-model-detail>
      </div>

      <div *ngIf="currentModel" class="seven wide column">
        <h1 class="h-center">Documents:</h1>
        <hr/>
        <div class="height-limit">
          <ul *ngFor="let document of currentModel.containingDocs | sort">
            <li class="long-text">{{document | document}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
