.pos {
  font-size: 16px;
}

.entry-block {
  margin-top: 5px;
}

.entry-margin {
  margin-right: 20px;
}

.more-less {
  position: absolute;
  right: -5px;
}

a:hover + .box,.box:hover{
  display: block;
  position: relative;
  z-index: 100;
}

.img-box {
  display: block;
  position: relative;
  z-index: 100;
}

.box{
  display: none;
  width: 100%;
}
