<div class="container entry-block"> <!-- class="hand" (click)="clicked($event)" -->
  <div class="ui one column grid">
    <div class="row sixteen wide column h-center entry-margin">
      <h3 (click)="more = !more" class="hand">
        <strong>{{explanation.word}}</strong> <span class="pos">({{explanation.pos}})</span>
        <span class="more-less">
          <i *ngIf="!more" class="angle down icon"></i>
          <i *ngIf="more" class="angle up icon"></i>
        </span>
      </h3>
      <div *ngIf="more">
        <div *ngIf="explanation.glosses && explanation.glosses.length > 0">
          <div>
            <div (click)="moreGlosses = !moreGlosses" class="hand">
              <strong>Glosses:</strong>
              <span class="more-less">
                <i *ngIf="!moreGlosses" class="angle down icon"></i>
                <i *ngIf="moreGlosses" class="angle up icon"></i>
              </span>
            </div>
            <div>
              <div *ngIf="moreGlosses">
                <ul *ngFor="let gloss of explanation.glosses">
                  <li>{{gloss.gloss}}</li>
                </ul>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div *ngIf="explanation.images && explanation.images.length > 0">
          <div>
            <div (click)="moreImages = !moreImages" class="hand">
              <strong>Images:</strong>
              <span class="more-less">
                <i *ngIf="!moreImages" class="angle down icon"></i>
                <i *ngIf="moreImages" class="angle up icon"></i>
              </span>
            </div>
            <div>
              <div *ngIf="moreImages">
                <img-viewer [images]="explanation.images"></img-viewer>
                <!--ul *ngFor="let image of explanation.images">
                  <li>
                    <a href="{{image.url}}" target="_blank">{{image.name}}</a>
                    <div class="img-box">
                      <img src='{{image.url}}' alt="" width="200px"/>
                    </div>
                  </li>
                </ul-->
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div *ngIf="explanation.translations && explanation.translations.length > 0">
          <div>
            <div (click)="moreTranslations = !moreTranslations" class="hand">
              <strong>Translations:</strong>
              <span class="more-less">
                <i *ngIf="!moreTranslations" class="angle down icon"></i>
                <i *ngIf="moreTranslations" class="angle up icon"></i>
              </span>
            </div>
            <div>
              <div *ngIf="moreTranslations">
                <div *ngFor="let translation of explanation.translations">
                  <ul *ngFor="let text of translation.translations">
                    <li>{{text}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div *ngIf="explanation.babelNetId">
        <a href="http://babelnet.org/synset?word={{explanation.babelNetId}}&details=1&lang=EN" target="_blank">More Info</a>
        <!-- not always working -->
        <!--div class="box">
          <iframe [src]="url" width = "500px" height = "500px">
          </iframe>
        </div-->
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<!--
  word: string;
  lemma: string;
  pos: string;
  rank: string;
  occurrences: string;
  babelNetId: string;
  glosses: Array<GlossaryModel>;
  images: Array<ImageModel>;
  translations: Array<TranslationModel>;

  export class GlossaryModel {
    gloss: string;
    language: string;
  }

  export class ImageModel {
    url: string;
    name: string;
    valid: boolean;
  }

  export class TranslationModel {
    language: string;
    translations: Array<String>;
  }
-->
