<div class="container">
  <div class="ui one column grid about-text">
    <div class="sixteen wide column">
      <div class="title">
        <h2>This application is based on the Master Thesis with the title:</h2>
      </div>
      <div>
        <div class="h-center">
          <!--i class="quote left icon"></i-->
            <div class="thesis-text-container">
              <div class="thesis-title">Language Model Driven Analysis</div>
              <div class="thesis-subtitle">Simplifying text on an individual scale</div>
            </div>
          <!--i class="quote right icon"></i-->
        </div>
        <div class="about-text">
          by <strong>Alexej Strelzow</strong> <br>
          <span>supervised by:</span> <a href="http://allan.hanbury.eu/" target="_blank">Dr. Allan Hanburry</a> and
          <a href="http://mihailupu.net/wordpress/" target="_blank">Dr. Mihai Lupu</a>
        </div>
        <br/>
        <div>
          <p>
            <strong>Abstract:</strong>
          </p>
          <div>
            <p class="about-summary">
              The goal of this thesis is to individually support people (users) to comprehend relatively challenging
              textual resources like a researcher's published papers. Therefore, based on a user's document collection,
              we introduce a novel approach to detect words in other documents that are most likely to be unknown to the user.
              Furthermore, we explain those words by utilizing external data sources. With this approach, we provide the user
              with a list of possibly unknown words and their meaning from an yet unfamiliar text.
            </p>
            <p class="about-summary">
              We implemented a proof of concept application to generate <a href="https://en.wikipedia.org/wiki/Language_model" target="_blank">language models</a> (user and document models) from text,
              compare them with each other, and provide an explanation of the words identified as unknown. The user model
              is an abstraction of the user's language skills in terms of known vocabulary. We estimate this set of known words
              by considering the user's written documents as a domain specific component and <a href="http://www.wordfrequency.info/100k.asp" target="_blank">a very comprehensive frequent word list</a>
              of contemporary American English as a general component. The model comparison algorithm takes a user and a document model
              as input and identifies possible unknown words based on semantical and statistical methods. To explain the words that
              are considered to be unknown to the user, we use <a href="http://babelnet.org/" target="_blank">BabelNet</a>, a large semantic dictionary, which is a composition of
              existing data sources such as <a href="https://wordnet.princeton.edu/" target="_blank">WordNet</a> and <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
