.about-text {
  font-size: large;
  line-height: 40px;
}

.thesis-text-container {
  margin: 10px 0px 20px 0px;
}

.thesis-title {
  width: 640px;
  font-size: xx-large;
  line-height: 60px;
}

.thesis-subtitle {
  font-size: x-large;
  line-height: 32px;
}

.about-summary {
  width: 640px;
  line-height: 30px;
  text-align: justify;
}

.title {
  margin-top: 15px;
}
