<div class="container height-limit">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <div *ngFor="let word of words" class="ui list">
          <word (onClick)="clicked($event)" [word]="word" [clickable]="clickable"></word>
        </div>
      </div>
    </div>
  </div>
</div>
