<h1 class="contact-title">Get in touch</h1>
<br/>
<form> <!-- [ngFormModel]="_form" -->
  <label for="name">
    <div><span class="input-label">Your Name</span> <span class="input-label-required">(required)</span></div>
    <input id="name" class="input-text" name="name" type="text" ngControl="_name" required>
  </label>
  <br/>
  <label for="email">
    <div><span class="input-label">Email</span> <span class="input-label-required">(required)</span></div>
    <input id="email" class="input-text" name="name" type="email" ngControl="_email" required>
  </label>
  <br/>
  <label for="comment">
    <div><span class="input-label">Comment</span> <span class="input-label-required">(required)</span></div>
    <textarea rows="7" cols="7" id="comment" class="comment-text" name="name" type="email" ngControl="_comment" required></textarea>
  </label>
  <br/>
  <div class="btn-container">
    <button class="ui primary button btn-submit" (click)="send($event)" [disabled]="!isFormValid()" type="submit" value="Submit">Submit</button>
  </div>
</form>
