:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.thesis-text-container {
  text-align: center;
}

.contact-text {
  font-size: large;
  line-height: 32px;
}

.contact-title {
  font-size: xx-large;
  line-height: 40px;
}

.input-label {
  font-weight: bold;
  line-height: 45px;
}

.input-label-required {
  color: dimgrey;
}

.input-text {
  width: 300px;
}

.comment-text {
  width: 500px;
}

.btn-container {
  width: 500px;
}

.btn-submit {
  /*font-size: large;*/
  float: right;
  margin-top: 10px;
}

.valid {
  border-color: black;
}

.invalid {
  border-color: red;
}

