<nav>
  <a [routerLink]="['/']">HOME</a>
  <a [routerLink]="['/user']">USER MODELS</a>
  <a [routerLink]="['/document']">DOCUMENT MODELS</a>
  <a [routerLink]="['/experiment']">EXPERIMENTS</a>
  <a [routerLink]="['/about']">ABOUT</a>
  <a [routerLink]="['/contact']">CONTACT</a>
  <a [routerLink]="['/demo']">DEMO</a>
</nav>
