.wrapper-table {
  display: table;
  width: 100%;
}

.arrow-button {
  vertical-align: middle;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.button-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 15%;
}

.button-wrapper:hover {
  background-color: #E6E3DE;
}

.img-content {
  width: 100%;
  height: auto;
}

.img-box {
  width: 90%;
  height: 300px;
}

.container {
  margin-left: 15px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.shorten-name {
  text-overflow: ellipsis;
  text-wrap: normal;
}
