<div class="container">
  <div class="ui three column grid">
    <div class="row">
      <div class="wrapper-table">
        <div (click)="previous($event)" class="button-wrapper align-right hand">
          <i title="Previous" class="chevron circle left icon huge arrow-button align-right" [style.color]="isPreviousEnabled() ? 'black' : '#696969'"></i>
        </div>
        <div class="img-box h-center">
          <img src="{{_currentImage.url}}" alt="{{_currentImage.name}}" class="img-content"/>
        </div>
        <div (click)="next($event)" class="button-wrapper align-left hand">
          <i title="Next" class="chevron circle right icon huge arrow-button align-left" [style.color]="isNextEnabled() ? 'black' : '#696969'"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="h-center shorten-name">
      <a href="{{_currentImage.url}}" title="Open in new tab" target="_blank">{{_currentImage.name}}</a>
    </div>
  </div>
</div>
