.entry-block {
  margin-top: 20px;
  height: 95px;
}

.entry-icon-bg {
  background-color: #3914AF;
}

.icon-margin {
  margin: 0px 0px 0px 15px;
}

.entry-icon-fg {
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff00;
}
