<div class="container entry-block" (click)="clicked($event)">
  <div class="ui two column grid hand">
    <div class="row four wide column computer only entry-icon-bg circle h-center icon-margin"> <!-- TODO: don't grow - not into grid! -->
      <div class="middle aligned content h-center">
        <i class="lab icon huge entry-icon-fg"></i>
      </div>
    </div>
    <div class="row eleven wide column h-center">
        <h2><strong>Experiment #{{element.id}}</strong></h2>
        <div>#Unknown Words: {{element.numWords}}</div>
    </div>
  </div>
</div>
<hr/>
<!--
 {{element.words}}
 {{element.muId}}
 {{element.mdId}}
 {{element.numTokens}}


 id: number;
 words: Array<String>;
 muId: number;
 mdId: number;
 numWords: number;
 numTokens: number;
-->
