:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.model-entry {
  line-height: 30px;
}

.model-title {
  font-weight: bold;
  font-size:18px;
}

.model-statistics {
  font-size: 14px;
}

