<div class="container">
  <div class="ui three column grid">
    <div class="row">
      <div *ngIf="userModels && userModels.length > 0" class="four wide column">
        <h1 class="h-center">Select User Model:</h1>
        <hr/>

        <select [(ngModel)]="currentUserId" (ngModelChange)="onSelectionChanged($event)" class="ui dropdown">
          <option value=""></option>
          <option *ngFor="let userModel of userModels" [value]="userModel.id">{{userModel.name}}</option>
        </select>
        <hr/>
        <div *ngIf="currentUser">
          <document-model-list (onClick)="clicked($event)" [elements]="currentUser.containingDocs"></document-model-list>
        </div>
      </div>
      <div *ngIf="!userModels" class="four wide column">
        <h1 class="h-center">Loading...</h1>
      </div>
      <div *ngIf="userModels && userModels.length === 0" class="four wide column">
        <h1 class="h-center">No Documents available!</h1>
      </div>

      <div *ngIf="currentDocument && currentDocument.words" class="three wide column">
        <h1 class="h-center">Containing Words:</h1>
        <hr/>
        <word-list [words]="currentDocument.words" [clickable]="false"></word-list>
      </div>

      <div *ngIf="rawText" class="eight wide column">
        <h1 class="h-center">Raw Text:</h1>
        <hr/>
        <div>
          <div><strong>{{currentDocument.title}}</strong></div>
          <div>Tokens: {{currentDocument.wordCount | thousand}}</div>
          <div>Types:  {{currentDocument.uniqueWordCount | thousand}}</div>
        </div>
        <hr/>
        <textarea rows="20" cols="20" id="raw-text" name="raw-text" type="text">
          {{rawText}}
        </textarea>
      </div>
    </div>
  </div>
</div>
