<div class="container height-limit">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <div *ngFor="let element of elements" class="ui list">
          <experiment-entry (onClick)="clicked($event)" [element]="element"></experiment-entry>
        </div>
      </div>
    </div>
  </div>
</div>
