<h1 class="title-text">Welcome Adventurer!</h1>

<p class="welcome-text">
  This application helps you to find words, that are likely to be unknown.
  <br/>
  You just have to provide two things:
  <br/>
  <span class="check-item">
    <i class="checkmark box icon"></i>  Text files, written by a single user<!--, which will be used to create a user model.-->
  </span>
  <br/>
  <span class="check-item">
    <i class="checkmark box icon"></i>  A single text file, that may contain complicated words<!--, which gets matched against the user model.-->
  </span>
</p>

<p class="welcome-text">
  Based on the the user's files, we construct a user model. <br/>
  Then we match the user model with the single text file, <br/>
  that may contain complicated words. <br/>
  The result is a list of words, which are most likely to be unknown to the user!
</p>

<div class="img-component">
  <img id="user-img" class="user-img-large" (click)="gotoUserModel($event)">
  <img id="document-img" class="document-img-large" (click)="gotoDocumentModel($event)">
  <img id="experiment-img" class="experiment-img-large" (click)="gotoExperiments($event)">
</div>


<!--
<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>


<ul>
  <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
</ul>
-->
