:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.title-text {
  font-size: xx-large;
}

.welcome-text {
  font-size: x-large;
  line-height: 32px;
}

.check-item {
  line-height: 50px;
  margin-left: 30px;
}

.img-component {
  top: 20px;
}

.user-img-large {
  background-image: url("./assets/png/large/user-model-256.png");
  background-repeat: no-repeat;
  cursor:pointer;
  cursor: hand;
  width: 256px;
  height: 256px;
  margin-right: 20px;
}

.user-img-large:hover {
  background-color: #FFFF88;
}

.document-img-large {
  background-image: url("./assets/png/large/document-model-256.png");
  background-repeat: no-repeat;
  cursor:pointer;
  cursor: hand;
  width: 256px;
  height: 256px;
  margin-right: 20px;
}

.document-img-large:hover {
  background-color: #FFFF88;
}

.experiment-img-large {
  background-image: url("./assets/png/large/experiments-256.png");
  background-repeat: no-repeat;
  cursor:pointer;
  cursor: hand;
  width: 256px;
  height: 256px;
}

.experiment-img-large:hover {
  background-color: #FFFF88;
}
