<div class="container entry-block">
  <div class="ui one column grid">
    <div class="row sixteen wide column h-center">
      <h3>
        <span (click)="clicked($event)" [class.hand]="clickable">
          <strong>{{word.word}}</strong>
          <span class="pos">({{word.pos}})</span>
        </span>
        <span class="more-less hand">
          <span (click)="more = !more"><i *ngIf="!more" class="angle down icon"></i></span>
          <span (click)="more = !more"><i *ngIf="more" class="angle up icon"></i></span>
        </span>
      </h3>
      <div *ngIf="more">
        <div *ngIf="word.lemma">Lemma: {{word.lemma}}</div>
        <div *ngIf="word.rank">Rank/Term f.: {{word.rank}}/{{word.occurrences}}</div>
        <!--div *ngIf="word.occurrences">Occurrences: {{word.occurrences}}</div-->
      </div>
    </div>
  </div>
</div>
<hr/>
<!--
  word: string;
  lemma: string;
  pos: string;
  rank: string;
  occurrences: string;
-->
