

<div class="container">
  <div class="ui two column grid">
    <div class="row flexContainer">
      <div class="four wide column"><label for="user-model-selector">Select User Model</label></div>
      <div class="four wide column">
        <select id="user-model-selector" [(ngModel)]="currentUserId" (ngModelChange)="onSelectionChanged($event)" class="ui dropdown fill">
        <option value=""></option>
        <option *ngFor="let userModel of userModels" [value]="userModel.id">{{userModel.name}}</option>
      </select>
      </div>
    </div>
    <div class="row flexContainer">
      <div class="four wide column"><label for="file-upload-selector">Select File to upload</label></div>
      <div class="four wide column">
        <input id="file-upload-selector" class="fill" value="Select..." type="file" name="file" (change)="selectFile($event)">
      </div>
    </div>
    <div class="row flexContainer">
      <div class="four wide column"><!--label for="start-experiment">Conduct Experiments on Models</label--></div>
      <div class="four wide column">
        <button id="start-experiment" class="ui primary button"
                [class.disabled]="!isExperimentButtonEnabled()"
                [class.loading]="requestInProgess"
                (click)="sendRequest()">Find Unknown Words</button>
      </div>
    </div>
  </div>

  <div class="ui three column grid">
    <div class="row">
      <div *ngIf="displayPdf" class="eight wide column">
        <h1 class="h-center">Analyzed PDF:</h1>
        <hr/>
        <pdf-component
          [base64DecodedData]="data"
          [url]="url"
          [forceViewer]="forceViewer"
          [fileName]="fileName"
          [fileType]="fileType"
          (onPageChanged)="pageChanged($event)">
        </pdf-component>
      </div>

      <div *ngIf="unknownWords" class="three wide column">
        <h1 class="h-center">Unknown Words:</h1>
        <hr/>
        <word-list (onClick)="explain($event)" [words]="currentUnknownWords"></word-list>
      </div>

      <div *ngIf="currentExplanations && currentExplanations.length > 0" class="five wide column">
        <h1 class="h-center">Explanations:</h1>
        <hr/>
        <explanation-list [explanations]="currentExplanations"></explanation-list>
      </div>
    </div>
  </div>
</div>
