<div class="container entry-block hand" (click)="clicked($event)">
  <div class="ui one column grid red">
    <div class="row four wide column computer only entry-icon-bg circle h-center"> <!-- TODO: don't grow - not into grid! -->
      <div class="middle aligned content h-center">
        <i class="user icon huge entry-icon-fg"></i>
      </div>
    </div>
    <div class="row eleven wide column h-center">
        <h2><strong>User Model #{{element.id}}</strong></h2>
        <div>{{element.name}}</div>
    </div>
  </div>
</div>
<hr/>
